.alert{
    color: red;
    font-family:  Lucidatypewriter;
    position: relative;
    top: 30%;
    left:40%;
}
.success{
    font-family:  Lucidatypewriter;
    color: rgb(0, 0, 0);
    position: relative;
    top: 30%;
    left:40%;
}