.algo-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tree-container{
    
    height: 800px;
    width:800px;
    overflow: hidden;
    position:relative;
    
    /* bottom:40%;  */
}



.Root {
    justify-content: center;
    text-align: center;
    font: 3em sans-serif;
    height: 60px;
    width: 60px;
    border: 8px solid;
    margin: 4px;
    border-radius: 50%;
    position: relative;
    left:400px;
    top:200px;
    /* opacity:0; */
}
.Rtext{
    
}
.Node1 {
    justify-content: center;
    text-align: center;
    font: 3em sans-serif;
    height: 60px;
    width: 60px;
    
    border: 8px  solid;
    border-radius: 50%;
    position: relative;
    left:330px;
    top: 240px;
    /* opacity:0; */
}

.Node1::before{
    content:'';
    display:block;
    width:1.7em;
    height:0.9em;
    border: 0.175em  solid;
    transform: rotate(-45deg);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    position: relative;
    bottom: 1.55em;
    right:-.1em;
    
}
.text1{

position:relative;
bottom:50px
}
.Node2 {
    justify-content: center;
    text-align: center;
    font: 3em sans-serif;
    height: 60px;
    width: 60px;
    border: 8px solid;
    margin: 4px;
    border-radius: 50%;
    position: relative;
    left:490px;
    top: 160px;
    /* opacity:0; */
}

.Node2::before{
    content:'';
    display:block;
    width:80px;
    height:80px;
    border: 8px solid;
    transform: rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    position: relative;
    bottom: 103px;
    right:28px;
    
}
.text2{
    
    position:relative;
    bottom:90px
    }
.Node3 {
    justify-content: center;
    text-align: center;
    font: 3em sans-serif;
    height: 60px;
    width: 60px;
    border: 8px solid;
    margin: 4px;
    border-radius: 50%;
    position: absolute;
    left:200px;
    top: 439px;
    /* opacity:0; */
}
.text3{
    
    position:relative;
    bottom:86px
    }
.Node3::before{
    content:'';
    display:block;
    width:120px;
    height:80px;
    border: 8px solid;
    transform: rotate(-30deg);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    position: relative;
    bottom: 113px;
    right:-1px;
}
.Node6 {
  
    font: 3em sans-serif;
    height: 60px;
    width: 60px;
    border: 8px solid;
    margin: 4px;
    border-radius: 50%;
    position: relative;
    left:616px;
    top: 200px;
    /* opacity:0; */
}

.Node6::before{
    content:'';
    display:block;
    width:120px;
    height:80px;
    border: 8px solid;
    transform: rotate(30deg);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    position: relative;
    bottom: 111px;
    right:67px;
}

.text6{
    
    position:relative;
    bottom:86px;
    left:17px
    }
.Node4 {
    align-content: center;
    justify-content: center;
    text-align: center;
    font: 3em sans-serif;
    height: 60px;
    width: 60px;
    border: 8px solid;
    margin: 4px;
    border-radius: 50%;
    position: absolute;
    left:370px;
    top: 436px;
    /* opacity:0; */
}

.Node4::before{
    content:'';
    display:block;
    width:60px;
    height:80px;
    border: 8px solid;
    transform: rotate(60deg);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    position: relative;
    bottom: 90px;
    right:-4px;
}
.text4{
    
    position:relative;
    bottom:86px
    }
.Node5 {
    align-content: center;
    justify-content: center;
    text-align: center;
    font: 3em sans-serif;
    height: 60px;
    width: 60px;
    border: 8px solid;
    margin: 4px;
    border-radius: 50%;
    position: absolute;
    left:439px;
    bottom: 280px;
    /* opacity:0; */
}

.Node5::before{
    content:'';
    display:block;
    width:60px;
    height:80px;
    border: 8px solid;
    transform: rotate(-60deg);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    position: relative;
    bottom: 90px;
    right:4px;
}
.text5{
    
    position:relative;
    bottom:86px
    }
.insert {
    animation-name: inserted;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

}
@keyframes inserted{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        
    }
}
.node-text{
    color:black;
    position:relative;
    top:6px;


}
.text-identify{
    animation-name: identify;
    animation-duration: 0.5s;
    /* animation-fill-mode: forwards; */
    animation-iteration-count: 2;
}
@keyframes identify {
    from{
        color:red;
        opacity: 1;
    }
    to{
        color:red;
        opacity: 0;
    }
}
.text-swap{
    animation-name: swap;
    animation-duration: 1s;
}

@keyframes swap{
    0%{
        color: red;
    }
    50%{
        color: red;
        transform: rotateX(180deg);
        
    }
    100%{
        transform: rotateX(360deg);
    }
}
.text-preidentify{
    animation-name: preidentify;
    animation-duration: 0.5s;
    /* animation-fill-mode: forwards; */
    animation-iteration-count: 2;
}
@keyframes preidentify {
    from{
        color:green;
        opacity: 1;
    }
    to{
        color:green;
        opacity: 0;
    }
}
.text-delete{
    animation-name: t-delete;
    animation-duration: 1s;
}
@keyframes t-delete{
    0%{
        color: green;
    }
    50%{
        color: green;
        transform: rotateX(180deg);
        
    }
    100%{
        transform: rotateX(360deg);
    }
}
.node-delete{
    animation-name: delete;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes delete{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        
    }
    
}