.Node {
    align-content: center;
    height: 60px;
    width: 60px;
    border: 8px solid;
    margin: 4px;
    border-radius: 50%;
}

.Node::before{
    content:'g';
    display:block;
    width:80px;
    height:80px;
    background:#ff0000;
    top:100%;
    left:50%;
    margin-left:5px;
   
}